.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: flex-start;
}

.container .image-section {
    position: relative;
    width: 70%;
    display: block;
    overflow: auto;
}

.container .info-section {
    position: fixed;
    width: 28%;
    height: 100vh;
    background-color: #161b21;
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 20px;
    text-align: center;
}

.container .image-section .image-box {
    width: 100%;
    object-fit: cover;
    margin: 0px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-text {
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px;
    color: #f4a950;
    padding-top: 20px;
    transition: all 1s ease;
}

.brand-text {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0px;
    color: wheat;
}

.remain-text {
    font-size: 30px;
    color: wheat;
}