.drop-down-container {
    background-color: #eef8ff;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.background {
    width: 100vw;
    height: 100vh;
}

footer {
    color: white;
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
}

i {
    margin: 20px;
}

.card-section {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
}